ul.messages {
    list-style-type: none;
}
ul.messages li {
    text-align: center;
    color: white;
    padding: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
form input.btn {
    margin: 0 auto;
    display: block;
    text-align: center;
}


/* Profile Dashboard Jobs */

.main-cred {
    border-radius: 4px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}
.main-cred p {
    color: white;
}
