{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | Apply Past Jobs {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-5 mb-5">
                    {% for message in messages %}
                        <li {% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <div class="card p-5 mt-5 mb-5">
                <div class="card-header text-center">
                    <h1>Add Profile</h1>
                </div>
                <div class="card-body">
                    <form action="process_apply" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="profile_pic">Profile Pic</label>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                <div>
                                    <span class="btn btn-success btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="profile_pic">
                                    </span>
                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="experience" cols="30" rows="10" class="form-control" placeholder="Experience"></textarea>
                        </div>
                        <div class="form-group">
                            <select name="skill_level" class="form-control">
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Expert">Expert</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="languages" class="form-control" placeholder="Languages">
                        </div>
                        <input type="submit" value="Apply For Job" class="btn btn-info btn-round">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}