{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | Apply Past Jobs {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-5 mb-5">
                    {% for message in messages %}
                        <li {% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2">
            <div class="card p-5 mt-5 mb-5">
                <div class="card-header text-center">
                    <h1>Add Past Jobs</h1>
                </div>
                <div class="card-body">
                    <form action="process_past_jobs" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="date_from" class="text-center">Date From</label>
                                <input type="date" name="date_from" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="date_from" class="text-center">Date To</label>
                                <input type="date" name="date_to" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="job_title" class="form-control" placeholder="Job Title">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" name="company" class="form-control" placeholder="Company">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="job_desc" cols="30" rows="10" class="form-control" placeholder="Job Description"></textarea>
                        </div>
                        <input type="submit" value="Add Past Job" class="btn btn-info btn-round">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}