{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | Apply For Job {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-5 mb-5">
                    {% for message in messages %}
                        <li {% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card p-5 mt-5 mb-5">
                <div class="card-header text-center">
                    <h1>Apply For Job</h1>
                </div>
                <div class="card-body">
                    <form action="process_apply" method="POST">
                        {% csrf_token %}
                        <div class="form-group col-md-6">
                            <textarea name="cover_letter" cols="30" rows="10" class="form-control" placeholder="Cover Letter"></textarea>
                        </div>
                        <input type="submit" value="Apply For Job" class="btn btn-info btn-round">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}