{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | {{user.first_name}}'s Profile {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-1 mb-1">
                    {% for message in messages %}
                        <li {% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<div class="card p-2 mt-5 mb-5">
				<div class="card-header text-center">
                    <span><a href="/dashboard/add-past-jobs" class="btn btn-info">Add Past Job</a></span>
				</div>
				<div class="card-body text-center">
                    <div class="main-cred shadow-lg bg-success">
                        <p>Name <br> {{user.first_name}} {{user.last_name}}</p>
                        <p>Email <br> {{user.email}}</p>
                        <p>Username <br>{{user.username}}</p>
                        <p >Member Since <br> {{user.created_at}}</p>
                    </div>
                        <div class="past-jobs mt-3">
                            <h3>Past Jobs</h3>
                            {% for past_job in past_jobs %}
                            <p>
                                <button class="btn btn-info type="button" data-toggle="collapse" data-target="#{{past_job.id}}" aria-expanded="false" aria-controls="{{past_job.id}}">
                                {{past_job.company}}
                                </button>
                            </p>
                            <div class="collapse" id="{{past_job.id}}">
                                <div class="card card-body text-center">
                                <p class="lead">{{past_job.job_title}}</p>
                                <p>{{past_job.date_from}} - {{past_job.date_to}}</p>
                                <p>{{past_job.job_desc}}</p>
                                <a href="" class="btn btn-danger btn-round">Delete</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card p-2 mt-5 mb-5">
                <div class="card-header text-center">
                    <h3>Applied Jobs</h3>
                </div>
                <div class="card-body">
                    {% for job in jobs %}
                        <p>
                            <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#data-{{job.id}}" aria-expanded="false" aria-controls="data-{{job.id}}">
                                    {{job.job.company}} - {{job.job.title}}
                            </button>
                            </p>
                            <div class="collapse" id="data-{{job.id}}">
                                <div class="card text-center p-3">
                                    <h3>{{job.job.company}} <br> {{job.job.title}}</h3>
                                    <p>{{job.job.pay_type}} {{job.job.budget}} - Length: {{job.job.length}} months <br> You Charged: {{job.amount_charged}}</p>
                                    <p>Cover Letter <br> {{job.cover_letter}}</p>
                                    <div class="card-footer text-center">
                                        <span><a href="delete_job/{{job.id}}" class="btn btn-danger btn-round">Delete</a></span>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                        <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}