					<!-- {% for job in past_jobs: %} -->
					<!-- <p>
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						  Button with data-target
						</button>
					  </p> -->
					  <!-- <div class="collapse" id="collapseExample">
						<div class="card card-body text-center">
							<p><small>From: {{job.date_from}} - To: {{job.date_to}}</small></p> 
							<p><small>Title: {{job.job_title}}</small> </p>
							<p><small>Company: {{job.company}}</small></p>
							<p>Job Description <br> {{job.job_desc}}</p> -->
						<!-- </div>
					  </div> -->
					<!-- {% endfor %} -->