{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | {{job.title}} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-5 mb-5">
                    {% for message in messages %}
                        <li {% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card p-5 mt-5 mb-5">
                <div class="card-header text-center">
                    <h1>{{job.title}}</h1>
                </div>
                <div class="card-body text-center">
                    <p>{{job.company}} | {{job.area}} | Length: {{job.length}} | Budget: {{job.budget}} - {{job.pay_type}}</p>
                    <p>{{job.created_at}}</p>
                    <hr>
                    <h3>Description</h3>
                    <p class="mb-1">{{job.desc}}</p>
                    <hr>
                    <h3>Requirements</h3>
                    <p class="mb-1">{{job.requirements}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/jobs/{{job.id}}/apply-for-job" class="btn btn-info btn-lg">Apply</a>
                </div>
              </div>
            </div>
        </div>
    </div>


{% endblock %}