{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | Apply For Job {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-5 mb-5">
                    {% for message in messages %}
                        <li {% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card p-5 mt-5 mb-5">
                <div class="card-header text-center">
                    <h1>Jobs</h1>
                </div>
                <div class="card-body">
                    {% for job in jobs %}
                        <div class="list-group">
                            <a href="/jobs/{{job.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{job.title}}</h5>
                                <p>{{job.company}} | {{job.area}} | Length: {{job.length}} | Budget: {{job.budget}} - {{job.pay_type}}</p>
                                <small>{{job.created_at}}</small>
                            </div>
                            <p class="mb-1">{{job.desc|truncatechars:255}}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}