<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Job Directory{% endblock %}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    {% load static %}
    <meta content="http://www.thepetedesign.com/demos/shuffle-images.html" property="og:url" />
	<meta content="http://www.thepetedesign.com/images/shuffle-images_image.jpg" property="og:image" />
	<link rel="canonical" href="http://www.thepetedesign.com/demos/shuffle-images_demo.html" />
    <link rel="stylesheet" href="{% static 'jobs/theme/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jobs/theme/assets/css/now-ui-kit.min.css' %}">
    <link rel="stylesheet" href="{% static 'jobs/assets/css/app.css' %}">
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand">Job Directory</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        {% if 'id' not in request.session %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                        </ul>
                    {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Developers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/developers">All Developers</a>
                            <a class="dropdown-item" href="/search-for-developer/">Search For Developers</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Jobs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/add-job">Add Job</a>
                          <a class="dropdown-item" href="/search/">Search For Job</a>
                          <a class="dropdown-item" href="/jobs">View All Jobs</a>
                        </div>
                      </li>
                          <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                </ul>
                {% endif %}
                </div>
            </div>
            </nav>


    {% block content %} {% endblock %}

{% load static %}
    <script src="{% static 'jobs/theme/assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'jobs/theme/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'jobs/theme/assets/js/core/bootstrap.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="{% static 'jobs/theme/assets/js/now-ui-kit.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{% static 'jobs/assets/js/jquery.shuffle-images.js' %}"></script>
    <script src="{% static 'jobs/assets/js/app.js' %}"></script>
    <script>
            $(document).ready(function(){
             $(".shuffle-me").shuffleImages({
               target: ".images > img"
             });
            });
      
    </script>
    <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Applied Number", "Jobs", "Developers"],
                    datasets: [{
                        label: "# of",
                        data: ['{{applied_amount}}', '{{jobs_amount}}', '{{users}}'],
                        backgroundColor: [
                            '#4BB5FF',
                            '#4BB5FF',
                            '#4BB5FF',
                            '#4BB5FF'
                        ],
                        borderColor: [
                            'rgba(10,250,10,1)',
                            'rgba(10,200,10,1)',
                            'rgba(10,200,10,1)',
                            'rgba(10,200,10,1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>
</body>
</html>
