{% extends 'jobs/layout.html' %}
{% block title %} {{block.super}} | Blog {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card p-3 mt-3 mb-3">
                <div class="card-header text-center">
                    <h1>{{blog.title}}</h1>
                </div>
                <div class="card-body text-center">
                    <p>{{blog.body}}</p>
                    <hr>
                    <p class="lead">&copy; {{blog.user.first_name}}</p>
                    <p>{{blog.created_at}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}